<!DOCTYPE html>
<html>

<head>

  <head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <meta charset="utf-8" />
  <title>UWEFlix Home Page</title>
</head>

<body>
  <header class="py-4">
    <div class="container mx-auto flex justify-between items-center">
      <div>
        <a href="#">
          <img class="h-10" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/UWE_Bristol_logo.svg/2560px-UWE_Bristol_logo.svg.png" alt="Logo" />
        </a>
      </div>
      <nav class="flex">
        {% if user.is_authenticated %}
        <p>Welcome, User {{ user.get_username }}.</p>
        {% else %}
        <p>Welcome, Stranger. Please log in!</p>
        {% endif %}
        <a class="px-12 py-2 text-gray-500 hover:text-black" href="{% url 'home' %}">Home</a>
        <a class="px-12 py-2 text-gray-500 hover:text-black" href="#">Films</a>
        <a class="px-12 py-2 text-gray-500 hover:text-black" href="{% url 'booking_start' %}">Book</a>
        <a class="px-12 py-2 text-gray-500 hover:text-black" href="{% url 'cinema_manager_view' %} ">C-Manager View</a>
        {% if user.is_authenticated %}
        <a class="px-3 py-2 text-gray-500 hover:text-black" href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a class="px-3 py-2 text-gray-500 hover:text-black" href="{% url 'login' %}">Login</a>
        <a class="px-3 py-2 text-gray-500 hover:text-black" href="{% url 'register_customer' %}">Register</a>
        {% endif %}
      </nav>
    </div>
  </header>
  {% block content %} {% endblock %}
</body>

</html>