{% extends 'UWEFlixApp/base.html' %}
{% block content %}
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="film">Film</label>
          <select class="form-control" id="film" name="film">
            {% for film in films %}
              <option value="{{ film.id }}">{{ film.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="screen">Screen</label>
          <select class="form-control" id="screen" name="screen">
            {% for screen in screens %}
              <option value="{{ screen.id }}">{{ screen.cinema.name }} - Screen {{ screen.screen_number }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="start-time">Start Time</label>
          <input type="datetime-local" class="form-control" id="start-time" name="start_time" required>
        </div>
        <button type="submit" class="btn btn-primary" name="create-showing">Create Showing</button>
        <a href="{% url 'create-film' %}" class="btn btn-secondary">Create Film</a>
      </form>
    </div>
  </div>
{% endblock %}