{% extends "UWEFlixApp/base.html" %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>


<div class="w-75 m-auto" >    
    <h1 class="text-2xl text-center">View All Screenings</h1>
    <table class="table table-hover">
        <thead>
            <tr>
              <th> Screening movie  </th>
              <th> Screening Time</th>
              <th> Seats Remaining</th>
              <th> </th>
              <th> </th>
              <br>
            </tr>
        </thead>
        <tbody>
            {% for Screening in page_obj %}
            <tr>
                <td> {{ Screening.movie }} </td> 
                <td> {{ Screening.showing_at }} </td>
                <td> {{ Screening.seats_remaining }} </td>
                <td><a href="{% url 'edit_screening' Screening.id %}"><button class="btn btn-outline-success"> Edit </button></a> <td>
                <td><a href="{% url 'delete_screening' Screening.id %}"><button class="btn btn-danger">Delete</button></a>
            </tr>
            {% endfor %}
        </tbody>
        </table>
</div>
{% if is_paginated %}
<div class="row justify-content-center">
    <div class="col-4 m-auto text-center">
        <span class="step-links">
          {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-link">Previous</a>
          {% endif %}

          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="btn btn-link">Next</a>
          {% endif %}
        </span>
      </div>
    </div>
    {% endif %}
    
<a href="{% url 'create_screening' %}" class="float-right mr-64"><button class="bg-gray-400 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Create new Screening</button></a>
        

{% endblock %}