{% extends "UWEFlixApp/base.html" %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

<h2 class="text-center">Monthly Statements</h2>

{% if monthly_statement_list %}
<div class="w-75 m-auto">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Club</th>
                <th>Date</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for statement in monthly_statement_list %}
            <tr>
                <td> {{ statement.club }}</td>
                <td> {{ statement.date }}</td>
                <td> {{ statement.amount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>No monthly statements have been created. </p>
{% endif %}
{% endblock %}