{% extends "UWEFlixApp/base.html" %}

{% block content %}
<h2>Clubs</h2>

{% if club_list %}
<div class="grid h-screen place-items-center">
    <table >
        <thead>
            <tr>
                <th>Club ID</th>
                <th>Name</th>
                <th>Card Num</th>
                <th>Exp date</th>
                <th>Discount rate</th>
                <th>Address</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for club in club_list %}
            <tr>
                <td> {{ club.clubID }}</td>
                <td> {{ club.clubName }}</td>
                <td> {{ club.cardNum }}</td>
                <td> {{ club.expDate }}</td>
                <td> {{ club.discountRate }}</td>
                <td> {{ club.clubAddress }}</td>
                <td><a href="{% url 'update_club' club.clubID %}">Update</a></td>
                <td><a href="{% url 'delete_club' club.clubID %}">Delete</a></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>No clubs have been created. </p>
{% endif %}
{% endblock %}